<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <title>Document</title>
</head>
<body>
<form method="POST" action="/save">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="title" placeholder="title" autofocus="">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="date" placeholder="date">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="message" placeholder="message">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">add message</button>
</form>
</body>
</html>