<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <title>Document</title>
</head>
<body>
<form method="POST" action="/some_messages">
{% block content %}
     <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="title_name" placeholder="название колонки" autofocus="">
        </div>
    </div>

     <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="title" placeholder="содержание колонки" autofocus="">
        </div>
    </div>

    <button class="button is-block is-info is-large is-fullwidth">search message</button>
{% for message in messages %}

    <div class="row my_message" style="border-radius: 0.5em;
                                    background-color: rgba(255,255,255, 0.2);
                                    padding: 10px;
                                    margin: 5px">
        <strong class=".col-md-4 text-left ">
            title: {{ message['title'] }}
            date: {{ message['date'] }}
        </strong>
        <p class=".col-md-4 text-left">
           text: {{ message['message']}}
        </p>
    </div>
{% endfor %}
{% endblock %}
    </form>
</body>
</html>